USE [TraoDoiDo]
GO
/****** Object:  Table [dbo].[DanhGiaNguoiDang]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaNguoiDang](
	[IdNguoiDang] [int] NOT NULL,
	[IdNguoiMua] [int] NOT NULL,
	[SoSao] [nvarchar](50) NULL,
	[NhanXet] [nvarchar](500) NULL,
 CONSTRAINT [PK_DanhGiaNguoiDang] PRIMARY KEY CLUSTERED 
(
	[IdNguoiDang] ASC,
	[IdNguoiMua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucYeuThich]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucYeuThich](
	[IdNguoiMua] [int] NOT NULL,
	[IdSanPham] [int] NOT NULL,
	[YeuThich] [nchar](10) NULL,
 CONSTRAINT [PK_DanhMucYeuThich] PRIMARY KEY CLUSTERED 
(
	[IdNguoiMua] ASC,
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[IdGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDung] [int] NOT NULL,
	[loaiGiaoDich] [nvarchar](20) NULL,
	[soTien] [nvarchar](200) NULL,
	[tuNguonGiaoDich] [nvarchar](50) NULL,
	[denNguonGiaoDich] [nvarchar](50) NULL,
	[ngayGiaoDich] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiaoDich] PRIMARY KEY CLUSTERED 
(
	[IdGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IdNguoiMua] [int] NOT NULL,
	[IdSanPham] [int] NOT NULL,
	[SoLuongMua] [nvarchar](50) NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[IdNguoiMua] ASC,
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoTaAnhSanPham]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoTaAnhSanPham](
	[IdSanPham] [int] NOT NULL,
	[IdAnhMinhHoa] [int] NOT NULL,
	[LinkAnhMinhHoa] [nvarchar](50) NULL,
	[MoTa] [nvarchar](1000) NULL,
 CONSTRAINT [PK_MoTaAnhSanPham] PRIMARY KEY CLUSTERED 
(
	[IdSanPham] ASC,
	[IdAnhMinhHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IdNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNguoiDung] [nvarchar](100) NOT NULL,
	[GioiTinhNguoiDung] [nvarchar](5) NULL,
	[NgaySinhNguoiDung] [nvarchar](50) NULL,
	[CMNDNguoiDung] [nvarchar](12) NULL,
	[EmailNguoiDung] [nvarchar](50) NULL,
	[SdtNguoiDung] [nvarchar](11) NULL,
	[DiaChiNguoiDung] [nvarchar](100) NULL,
	[AnhNguoiDung] [nvarchar](200) NULL,
	[TienNguoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IdNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyDonHang]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyDonHang](
	[IdDonHang] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDang] [int] NULL,
	[IdNguoiMua] [int] NULL,
	[IdSanPham] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LyDoTraHang] [nvarchar](100) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[IdDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[IdSanPham] [int] NOT NULL,
	[IdNguoiDang] [int] NULL,
	[Ten] [nvarchar](50) NULL,
	[LinkAnhBia] [nvarchar](50) NULL,
	[Loai] [nvarchar](50) NULL,
	[SoLuong] [nvarchar](50) NULL,
	[SoLuongDaBan] [nvarchar](50) NULL,
	[GiaGoc] [nvarchar](50) NULL,
	[GiaBan] [nvarchar](50) NULL,
	[PhiShip] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NoiBan] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[NgayMua] [nvarchar](50) NULL,
	[PhanTramMoi] [nvarchar](50) NULL,
	[MoTaChung] [nvarchar](1500) NULL,
	[SoLuotXem] [nvarchar](50) NULL,
	[NgayDang] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IdNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiDonHang]    Script Date: 4/25/2024 11:41:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiDonHang](
	[IdNguoiMua] [int] NOT NULL,
	[IdSanPham] [int] NOT NULL,
	[SoLuongMua] [nvarchar](50) NULL,
	[TongThanhToan] [nvarchar](50) NULL,
	[Ngay] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrangThaiDonHang] PRIMARY KEY CLUSTERED 
(
	[IdNguoiMua] ASC,
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhGiaNguoiDang] ([IdNguoiDang], [IdNguoiMua], [SoSao], [NhanXet]) VALUES (1, 2, N'5', N'Người bán có giao hàng chất lượng')
INSERT [dbo].[DanhGiaNguoiDang] ([IdNguoiDang], [IdNguoiMua], [SoSao], [NhanXet]) VALUES (1, 3, N'5', N'Người bán rất đẹp trai')
INSERT [dbo].[DanhGiaNguoiDang] ([IdNguoiDang], [IdNguoiMua], [SoSao], [NhanXet]) VALUES (1, 4, N'5', N'Shipper thân thiện')
GO
INSERT [dbo].[DanhMucYeuThich] ([IdNguoiMua], [IdSanPham], [YeuThich]) VALUES (1, 2, NULL)
INSERT [dbo].[DanhMucYeuThich] ([IdNguoiMua], [IdSanPham], [YeuThich]) VALUES (1, 3, NULL)
INSERT [dbo].[DanhMucYeuThich] ([IdNguoiMua], [IdSanPham], [YeuThich]) VALUES (1, 4, NULL)
GO
SET IDENTITY_INSERT [dbo].[GiaoDich] ON 

INSERT [dbo].[GiaoDich] ([IdGiaoDich], [IdNguoiDung], [loaiGiaoDich], [soTien], [tuNguonGiaoDich], [denNguonGiaoDich], [ngayGiaoDich]) VALUES (1, 1, N'Nạp tiền', N'3000000', N'Ví điện tử', N'Sacombank', N'3/28/2024 7:39:58 AM')
INSERT [dbo].[GiaoDich] ([IdGiaoDich], [IdNguoiDung], [loaiGiaoDich], [soTien], [tuNguonGiaoDich], [denNguonGiaoDich], [ngayGiaoDich]) VALUES (2, 2, N'Nạp tiền', N'2000000', N'Ví điện tử', N'Vietcombank', N'3/27/2024 7:39:58 AM')
INSERT [dbo].[GiaoDich] ([IdGiaoDich], [IdNguoiDung], [loaiGiaoDich], [soTien], [tuNguonGiaoDich], [denNguonGiaoDich], [ngayGiaoDich]) VALUES (3, 1, N'Nạp tiền', N'5000000', N'Ví điện tử', N'BIDV', N'3/28/2024 8:45:43 AM')
SET IDENTITY_INSERT [dbo].[GiaoDich] OFF
GO
INSERT [dbo].[GioHang] ([IdNguoiMua], [IdSanPham], [SoLuongMua]) VALUES (1, 1, N'1')
INSERT [dbo].[GioHang] ([IdNguoiMua], [IdSanPham], [SoLuongMua]) VALUES (1, 3, N'1')
INSERT [dbo].[GioHang] ([IdNguoiMua], [IdSanPham], [SoLuongMua]) VALUES (2, 2, N'2')
GO
INSERT [dbo].[MoTaAnhSanPham] ([IdSanPham], [IdAnhMinhHoa], [LinkAnhMinhHoa], [MoTa]) VALUES (1, 1, N'IPadGen6_1.jpg', N'Hỏng góc trên bên trái. Phần còn lại của iPad vẫn hoạt động bình thường.')
INSERT [dbo].[MoTaAnhSanPham] ([IdSanPham], [IdAnhMinhHoa], [LinkAnhMinhHoa], [MoTa]) VALUES (1, 2, N'IPadGen6_2.jpg', N'Trầy màn hình mức độ nhẹ, vẫn nhìn tốt. Màn hình vẫn rõ nét, không có điểm chết hoặc vết xước lớn.')
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([IdNguoiDung], [HoTenNguoiDung], [GioiTinhNguoiDung], [NgaySinhNguoiDung], [CMNDNguoiDung], [EmailNguoiDung], [SdtNguoiDung], [DiaChiNguoiDung], [AnhNguoiDung], [TienNguoiDung]) VALUES (1, N'Nguyễn Hoàng Anh Khoa', N'Nam', N'', N'073172381313', N'ak2109@gmail.com', N'0949617948', N'TPHCM', N'NguyenHoangAnhKhoa.jpg', N'10234000')
INSERT [dbo].[NguoiDung] ([IdNguoiDung], [HoTenNguoiDung], [GioiTinhNguoiDung], [NgaySinhNguoiDung], [CMNDNguoiDung], [EmailNguoiDung], [SdtNguoiDung], [DiaChiNguoiDung], [AnhNguoiDung], [TienNguoiDung]) VALUES (2, N'Nghiêm Vũ Hoàng Long', N'Nam', N'9/21/2004', N'073218931923', N'ak2109@gmail.com', N'0392193128', N'Hà Nội', N'Avt1.png', N'0')
INSERT [dbo].[NguoiDung] ([IdNguoiDung], [HoTenNguoiDung], [GioiTinhNguoiDung], [NgaySinhNguoiDung], [CMNDNguoiDung], [EmailNguoiDung], [SdtNguoiDung], [DiaChiNguoiDung], [AnhNguoiDung], [TienNguoiDung]) VALUES (3, N'Võ Văn Trí', N'Nam', N'4/4/2004', N'078423949294', N'vovantri44@gmail.com', N'0982382347', N'Ðồng Tháp', N'Avt2.jpg', N'0')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanLyDonHang] ON 

INSERT [dbo].[QuanLyDonHang] ([IdDonHang], [IdNguoiDang], [IdNguoiMua], [IdSanPham], [TrangThai], [LyDoTraHang]) VALUES (1, 2, 1, 1, N'Chờ đóng gói', NULL)
INSERT [dbo].[QuanLyDonHang] ([IdDonHang], [IdNguoiDang], [IdNguoiMua], [IdSanPham], [TrangThai], [LyDoTraHang]) VALUES (11, 1, 2, 1, N'Đang giao', NULL)
INSERT [dbo].[QuanLyDonHang] ([IdDonHang], [IdNguoiDang], [IdNguoiMua], [IdSanPham], [TrangThai], [LyDoTraHang]) VALUES (12, 2, 1, 2, N'Đang giao', NULL)
SET IDENTITY_INSERT [dbo].[QuanLyDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([IdNguoiDung], [TenDangNhap], [MatKhau]) VALUES (1, N'User01', N'1234')
INSERT [dbo].[TaiKhoan] ([IdNguoiDung], [TenDangNhap], [MatKhau]) VALUES (2, N'User02', N'12345')
INSERT [dbo].[TaiKhoan] ([IdNguoiDung], [TenDangNhap], [MatKhau]) VALUES (3, N'User03', N'12345')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[TrangThaiDonHang] ([IdNguoiMua], [IdSanPham], [SoLuongMua], [TongThanhToan], [Ngay], [TrangThai]) VALUES (1, 1, N'2', N'2000000', N'27/12/2023', N'Chờ xác nhận')
INSERT [dbo].[TrangThaiDonHang] ([IdNguoiMua], [IdSanPham], [SoLuongMua], [TongThanhToan], [Ngay], [TrangThai]) VALUES (1, 2, N'1', N'100000', N'1/1/2042', N'Chờ giao hàng')
INSERT [dbo].[TrangThaiDonHang] ([IdNguoiMua], [IdSanPham], [SoLuongMua], [TongThanhToan], [Ngay], [TrangThai]) VALUES (1, 3, N'3', N'1200000', N'1/1/2024', N'Đã nhận')
GO
ALTER TABLE [dbo].[DanhGiaNguoiDang]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaNguoiDang_NguoiDung] FOREIGN KEY([IdNguoiDang])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[DanhGiaNguoiDang] CHECK CONSTRAINT [FK_DanhGiaNguoiDang_NguoiDung]
GO
ALTER TABLE [dbo].[DanhGiaNguoiDang]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaNguoiDang_NguoiDung1] FOREIGN KEY([IdNguoiMua])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[DanhGiaNguoiDang] CHECK CONSTRAINT [FK_DanhGiaNguoiDang_NguoiDung1]
GO
ALTER TABLE [dbo].[DanhMucYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucYeuThich_NguoiDung] FOREIGN KEY([IdNguoiMua])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucYeuThich] CHECK CONSTRAINT [FK_DanhMucYeuThich_NguoiDung]
GO
ALTER TABLE [dbo].[DanhMucYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucYeuThich_SanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
GO
ALTER TABLE [dbo].[DanhMucYeuThich] CHECK CONSTRAINT [FK_DanhMucYeuThich_SanPham]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [FK_GiaoDich_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_NguoiDung] FOREIGN KEY([IdNguoiMua])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[MoTaAnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_MoTaAnhSanPham_SanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
GO
ALTER TABLE [dbo].[MoTaAnhSanPham] CHECK CONSTRAINT [FK_MoTaAnhSanPham_SanPham]
GO
ALTER TABLE [dbo].[QuanLyDonHang]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyDonHang_NguoiDung] FOREIGN KEY([IdNguoiDang])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[QuanLyDonHang] CHECK CONSTRAINT [FK_QuanLyDonHang_NguoiDung]
GO
ALTER TABLE [dbo].[QuanLyDonHang]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyDonHang_NguoiDung1] FOREIGN KEY([IdNguoiMua])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[QuanLyDonHang] CHECK CONSTRAINT [FK_QuanLyDonHang_NguoiDung1]
GO
ALTER TABLE [dbo].[QuanLyDonHang]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyDonHang_SanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
GO
ALTER TABLE [dbo].[QuanLyDonHang] CHECK CONSTRAINT [FK_QuanLyDonHang_SanPham]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NguoiDung]
GO
ALTER TABLE [dbo].[TrangThaiDonHang]  WITH CHECK ADD  CONSTRAINT [FK_TrangThaiDonHang_NguoiDung] FOREIGN KEY([IdNguoiMua])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[TrangThaiDonHang] CHECK CONSTRAINT [FK_TrangThaiDonHang_NguoiDung]
GO
ALTER TABLE [dbo].[TrangThaiDonHang]  WITH CHECK ADD  CONSTRAINT [FK_TrangThaiDonHang_SanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
GO
ALTER TABLE [dbo].[TrangThaiDonHang] CHECK CONSTRAINT [FK_TrangThaiDonHang_SanPham]
GO
